@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
:root {
  --main-color: #3498db;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 244, 245);
  font-family: "open sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.form {
  padding: 30px 40px;
}
h2 {
  text-align: center;
}
h4 {
  text-align: center;
  margin: 15px 0;
  color: rgba(0, 0, 0, 0.75);
}
.textalign {
  text-align: left;
}
.textalign a {
  color: rgba(0, 166, 255, 0.6);
}
.form-control {
  margin: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  color: rgba(0, 0, 0);
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 6px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form-control.success input {
  border-color: var(--success-color);
}
.form-control.error input {
  border-color: var(--error-color);
}
.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}
span {
  color: rgba(0, 166, 255, 0.6);
  font-weight: 600;
}
.form button {
  cursor: pointer;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
